<!-- views/login.htm -->
<!doctype html>
<html>
<head>
	<title>Shrewd Galileo</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
    body { padding-top:100px; background-image:url('/img/shrewd_galileo.png'); background-color:#ffffff; background-repeat:no-repeat; background-position:center top;}
	.well { height: auto; /*background-color: rgb(203, 225, 171);*/ opacity:0.99; }	
	.loginform  { padding: 20px; background: rgba(34,34,34,0.25); opacity: 0.96; }
	</style>
</head>
<body>
<div class="container">
	<div class="loginform">
	<div class="text-center">
		<div class=" col-sm-offset-3 well">
			<img src ="/img/shrewd_logo80x100.png" align="right"></img>
			<h1><span class="fa fa-sign-in"></span> Login</h1>
			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
			<!-- LOGIN FORM -->
			<form action="/login" method="post">
				<div class="input-group margin-bottom-sm">
					<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
					<input class="form-control" type="text" name="email" placeholder="Email address"/>
				</div> <br>
				<div class="input-group">
					<span class="input-group-addon">
					<i class="fa fa-key fa-fw"> </i></span>			
					<input class="form-control" type="password" name="password" placeholder="password"/>			
				</div>
				<br>		
				<div class="input-group">
					<span class="input-group-addon">				
						<i class="fa fa-rocket fa-fw"></i>
					</span>
					<input class="form-control" type="text" name="alias" placeholder="company alias"/>
				</div><br>
				<button type="submit" class="btn btn-warning btn-lg">Login</button>
			</form>
			<hr>
			<p>Need an account? <a href="/signup">Signup</a></p>
			<p>Or go <a href="/">home</a>.</p>
		</div>
		</div>
	</div>
</div>
</body>
</html>
