<!-- views/index.htm -->
<!doctype html>
<html>
<head>
	<title>Shrewd Galileo</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
	body { padding-top:180px; background-image:url('/img/shrewd_galileo.png'); background-color:#ffffff; background-repeat:no-repeat; background-position:center top; }
	.well { height: auto; }
	.loginform  { padding: 20px; background: rgba(34,34,34,0.25); opacity: 0.95; }
	</style>
</head>
<body>
 <div class="loginform">
	<div class="text-center well">
		<img src ="/img/shrewd_logo80x100.png" align="right"></img>
		<h1 style="color: lightgreen"><span class="fa fa-lock"></span>Discover your Galileo Moment!</h1>
		<br>
		<!--p>Login or Register with:</p-->
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
	</div>
</div>
</body>
</html>

